@font-face {
    font-family: "Georgia";
    src: local("Georgia"), 
         local("Georgia-Regular"), 
         url("/rsschool-cv/shelter/fonts/GeorgiaRegular.woff2") format("woff2"),
         url("/rsschool-cv/shelter/fonts/GeorgiaRegular.woff") format("woff"),
         url("/rsschool-cv/shelter/fonts/GeorgiaRegular.ttf") format("ttf"),
         url("/rsschool-cv/shelter/fonts/GeorgiaRegular.eot") format("eot");
    font-style: normal;
    font-weight: 200;
}